:root {
    --button-font-size: 1rem;
    --current-display-size: 3rem;
    --last-display-size: 26px;
    --p-size: 1rem;
    --result-size: 1.2rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid lime; */
}

input:hover {
    cursor: nore;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* overflow: hidden; */
}


.container .buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 20px;
    background-color: white;
}


.container .buttons-wrapper button {
    padding: 0 3em;
    outline: none;
    font-size: var(--button-font-size);
}

.container .buttons-wrapper #viewHistory {
    display: none;
}

#zero {
    grid-column: span 2;
}

/* Display styles */

.container .display-wrapper {
    border-left: 1px solid grey;
    max-width: 100%;
    max-height: 100vh;
    padding: 10px 12px;
}


.container .display-wrapper .display-numbers {
    display: flex;
    column-gap: 10px;
}


.container .display-wrapper .display-numbers .numbers-area {
    font-size: var(--current-display-size);
    /* flex: 1 1 0%; */
    max-width: 92%;
    border: none;
    outline: none;
}

.container .display-wrapper .display-numbers .operator-area {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: var(--p-size );
}

.container .display-wrapper .result-area {
    border: none;
    font-size: var(--result-size);
    color: grey;
    width: 92%;
    outline: none;
}


.container .display-wrapper > p {
    font-size: var(--p-size);
    margin-top: 50px;
    margin-bottom: 20px;
}

.container .display-wrapper .histories-wrapper {
    display: grid;
    row-gap: 20px;
    overflow-y: auto;
    /* background-color: red; */
    max-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 180px;
}

.container .display-wrapper .histories-wrapper .operation-area {
    padding: 0.7em;
    height: 100%;
    display: flex;
    align-items: center;
}



.histories-wrapper .operation-area .result {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
}


.histories-wrapper .operation-area .result p:first-child,
.histories-wrapper .operation-area .operation-date p:first-child 
{
    font-size: var(--last-display-size);
    margin-bottom: 15px;
}

.histories-wrapper .operation-area .operation-date {
    margin: auto 0;
    /* border: 1px solid lawngreen; */
    text-align: center;
}



@media (max-width: 720px) {
    :root {
        --button-font-size: 1rem;
        --current-display-size: 2.5rem;
        --last-display-size: 1.5rem;
        --p-size: 0.9rem;
        --result-size: 1.2rem
    }


    .container {
        flex-direction: column-reverse;
    }

    .container .buttons-wrapper {
        flex: 1 1 0%;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50%;
        transition: bottom 300ms ease-out;
    }

    .container .buttons-wrapper.closed {
        bottom: -360px;
        transition: bottom 300ms ease-in;
    }

    
    .container .buttons-wrapper button{
        padding: 0;
    }

    .container .buttons-wrapper button svg{
        width: 20px;
        height: 20px;
    }
    
    .container .buttons-wrapper #viewHistory {
        display: block;
        grid-column: span 4;
        background-color: white;
        border: none;
        font-size: 14px;
    }

    
    
    .container .display-wrapper {
        flex: 1 1 0%;
        padding: 10px 10px;
        /* max-height: 50vh; */
        overflow: auto;
    }


    .container .display-wrapper:nth-child(2) > p {
        margin-top: 10px;
    }
    
}